* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* App Card */
.app {
    background: white;
    width: 380px;
    padding: 30px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 20px 45px rgba(0,0,0,0.25);
    animation: fadeIn 0.6s ease;
}

/* Smooth Entry */
@keyframes fadeIn {
    from {
        transform: translateY(15px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1 {
    color: #0072ff;
}

.subtitle {
    font-size: 14px;
    margin: 8px 0 22px;
    color: #666;
}

/* Search Box */
.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.search-box input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.search-box input:focus {
    border-color: #0072ff;
}

.search-box button {
    padding: 12px 18px;
    border: none;
    background: #0072ff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.search-box button:hover {
    background: #005de0;
    transform: scale(1.05);
}

/* Weather Result */
.weather-result h2 {
    margin-bottom: 8px;
}

.temp {
    font-size: 42px;
    font-weight: bold;
    color: #0072ff;
    margin: 10px 0;
}

.condition {
    font-size: 16px;
    color: #444;
    margin-bottom: 15px;
}

/* Details */
.details {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.details span {
    background: #f2f6ff;
    padding: 8px 12px;
    border-radius: 10px;
}

/* Error */
#error {
    color: red;
    margin-top: 15px;
    font-size: 14px;
}
