/* DEFAULT VARIABLES */
:root{
    --bg: #000;
}

/* RESET */
body{
    margin: 0;
}

/* HEADER */
header{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    font-family: monospace;
    font-weight: bold;
    font-size: large;
    position: relative;
    z-index: 2;
}

header ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

/* CAROUSEL */
.carousel{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-top: -40px;
}

.list{
    width: 100%;
    height: 100%;
}

/* SLIDE ITEM */
.item{
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
}

.item.active{
    display: block;
}

.item.hidden{
    display: block;
    pointer-events: none;
    background-color: transparent;
    z-index: 1;
}

/* IMAGE */
.item img.fruit{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    pointer-events: none;
}

/* TEXT */
.item .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 12rem;
    color: #eee;
    font-weight: bold;
    font-family: system-ui;
    text-transform: uppercase;
    white-space: nowrap;
}

/* NAV BUTTONS */
#prev,
#next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #eee9;
    background-color: #eee5;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 15;
}

#prev{ left: 20px; }
#next{ right: 20px; }

/* ANIMATIONS */
@keyframes toActive{
    from{
        top: 100%;
        opacity: 0;
    }
}

@keyframes toOut{
    from{
        top: 50%;
        opacity: 1;
    }
}

@keyframes toActivePrev{
    from{
        top: 0;
        opacity: 0;
    }
}

.item.active img.fruit{
    animation: toActive 0.5s ease-in-out;
}

.item.hidden img.fruit{
    animation: toOut 0.8s ease-in-out;
    top: -100%;
    opacity: 0;
}

.item.active .content{
    animation: toActive 0.8s ease-in-out;
}

.item.hidden .content{
    opacity: 0;
}

.carousel.right .item.active img.fruit,
.carousel.right .item.active .content{
    animation: toActivePrev 0.8s ease-in-out;
}

/* RESPONSIVE */
@media (max-width: 768px){
    .item .content{
        transform: translate(-50%, -50%) scale(.5);
    }
    .item img.fruit{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
